<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}My amazing site{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />
</head>
<body>
    <div id="navigation">
        {% block navigation %}
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="{% url 'polls:index' %}">Polls</a></li>
            <li><a href="{% url 'admin:index'%}">Admin</a></li>
        </ul>
        {% endblock navigation %}
    </div>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>