{% extends "base.html" %}

{% block title %}
  Main Page
{% endblock %}

{% block header %}
  <a href="{% url 'main' %}">MySite</a>
  <span>|</span>
  <a href="{% url 'time' %}">Time</a>
  <a href="{% url 'ahead' 10 %}">Ahead</a>
  <span>|</span>
  <a href="{% url 'books:index' %}">Books App</a>
  <span>|</span>
  {% if user.is_authenticated %}
    <span>Logged in as <a href="#">{{ user.username }}</a></span>
    <a class="btn btn-sm btn-outline-danger" href="{% url 'logout' %}"><span class="oi oi-account-logout"></span> Logout</a>
  {% else %}
    <a class="btn btn-sm btn-primary" href="{% url 'register' %}"><span class="oi oi-clipboard"></span> Register</a>
    <a class="btn btn-sm btn-outline-primary" href="{% url 'login' %}"><span class="oi oi-account-login"></span> Login</a>
  {% endif %}
  <hr />
{% endblock %}

{% block content %}
  <h3>Welcome to the main page!</h3>
{% endblock %}


{% block footer %}
  <hr />
  <div class="float-left">
    <p class="text-muted"><small>Thank you for visiting our site! &copy; 2018</small></p>
  </div>
  <div class="float-right">
    <small><a href="{% url 'admin:index' %}">admin</a></small>
  </div>
{% endblock %}