{% extends "base.html" %}

{% block navigation %}
  <a class="nav-item nav-link" href="{% url 'books:index' %}">Home</a>
  <a class="nav-item nav-link" href="{% url 'books:book_list' %}">Books</a>
  <a class="nav-item nav-link" href="{% url 'books:author_list' %}">Authors</a>
  <a class="nav-item nav-link" href="{% url 'books:publisher_list' %}">Publishers</a>
  <a class="nav-item nav-link" href="{% url 'books:search' %}">Search</a>
  <a class="nav-item nav-link" href="{% url 'books:contact' %}">Contact</a>
{% endblock %}
