{% extends "books/base.html" %}

{% block title %}
  Author Details
{% endblock %}

{% block content %}
  <h3>{{ author.full_name }}</h3>
  <img src="{{ author.photo.url }}" alt="Photo of {{ author.full_name }}" width="200"/>
  <p>First Name: {{ author.first_name }}</p>
  <p>Last Name: {{ author.last_name }}</p>
  <p>Email: {{ author.email }}</p>
  <p>Books:</p>
  <ul>
    {% for book in author.book_set.all %}
    <li><a href="{% url 'books:book_details' book.id %}">{{ book.title }}</a></li>
    {% endfor %}
  </ul>
{% endblock %}