{% extends "books/base.html" %}

{% block title %}
  Publisher Details
{% endblock %}

{% block content %}
  <h3>{{ publisher.name }}</h3>
  <p>Address: {{ publisher.address }}</p>
  <p>City: {{ publisher.city }}</p>
  <p>State/Province: {{ publisher.state_province }}</p>
  <p>Country: {{ publisher.country }}</p>
  <p>Website: <a href="#">{{ publisher.website }}</a></p>
  <p>Books:</p>
  <ul>
    {% for book in publisher.book_set.all %}
      <li><a href="{% url 'books:book_details' book.id %}">{{ book.title }}</a></li>
    {% endfor %}
  </ul>
{% endblock %}